@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
}

.App > * {
  flex: 1;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 0;

  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 840px) {
  .App {
    flex-direction: column;
  }

  .right {
    height: 50vh;
  }
}
