@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  height: 100%;
}

.App > * {
  flex: 1;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 1.5rem 0;
}

@media screen and (max-width: 840px) {
  .App {
    flex-direction: column;
  }

  .right {
    height: 50vh;
  }
}
